$red: #f33333;
$redHover: #ff4747;
$violetHover: #ba0041;
$violet: #e80053;
$gray: #999;
$lightred: rgba(255, 228, 228, 0.5);
$borderline: rgba(0, 0, 0, 0.4);

$gap8: 8px;
$gap16: 16px;
$gap32: 32px;
$gap64: 64px;
$gap80: 80px;
$gap96: 96px;
